{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/navbar.html.twig' %}

    <section style="margin-top: 40px">
        <div class="titles">
            <h1>About Us</h1>
            <p style="color: black !important;">"Reach new heights"</p>
        </div>
        <div class="container">
            <div class="row justify-content-around">
                <span class="custom-icons1">
                <span><a target="_BLANK" href="https://www.facebook.com/knafati"><i class="icon-facebook custom-icon1"></i></a></span>
                <span><a target="_BLANK" href="https://www.linkedin.com/in/mona-makhlouf"><i class="icon-linkedin2 custom-icon1"></i></a></span>
                <span><a href="#"><i class="icon-twitter custom-icon1"></i></a></span>
            </span>
            </div>
        </div>

        <div class="container">
            <div class="row ">
                <div class=" col-lg-6 col-md-6" style="text-align: right; margin-top: 20px; margin-bottom: 20px">
                    <span class="title-aequo">Aequo Ltd</span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p>Aequo Ltd est la réalisation de 17 années d'expertise sur le système d'infrastructure qualité:

                        Métrologie, normalisation, accréditation, certification, contrôle d'inspection et gestion de la qualité (ISO 9001, ISO 17025, ISO 17020, ISO 15189)

                        Nous mettons également en place un système de gestion des risques efficace au sein de votre entreprise:

                        Intégration des meilleures pratiques, support à la certification (ISO 14001, ISO 18001, ISO 31000…)</p>
                </div>
            </div>
        </div>
    </section>

        <hr class="double-line">
        <hr class="double-line">

    <section>
        <div class="titles" style="padding-top: 10px">
            <h1>Rencontrez Nos Experts </h1>
            <p style="color: black">Meet our experts</p>
        </div>

        <div class="container" style="margin-bottom: 30px">
            <div class="row">
                <div class=" col-lg-6 col-md-6" style="text-align: center;">
                    <img class="team-img zoom" src="{{ asset('assets/images/team/mona.jpg') }}" alt="">
                    <h5 style="margin-top: 15px">Mona MAKHLOUF</h5>
                    <hr class="red-line">
                    <h6>Co-founder & CEO Senior Metrology and Quality Advisor</h6>
                    <span><a  target="_blank" href="https://www.linkedin.com/in/mona-makhlouf/"><i class="icon-linkedin2 custom-icon1"></i></a></span>
                </div>
                <div class=" col-lg-6 col-md-6" style="text-align: center;">
                    <img class="team-img zoom" src="{{ asset('assets/images/team/karim.jpg') }}" alt="">
                    <h5 style="margin-top: 15px">Karim NAFATI</h5>
                    <hr class="red-line">
                    <h6>Associate Senior Strategic Development & QMS Advisor Busniess HR Partner</h6>
                    <span><a target="_blank" href="https://www.linkedin.com/in/nafati/"><i class="icon-linkedin2 custom-icon1"></i></a></span>
                </div>
            </div>

            <div class="row justify-content-around" style="margin-top: 40px">
                <div class=" col-lg-3 col-md-3" style="text-align: center;">
                    <img class="team-img zoom" src="{{ asset('assets/images/team/ghassen2.jpg') }}" alt="">
                    <h5 style="margin-top: 15px">Ghassen FATHALLAH</h5>
                    <hr class="red-line">
                    <h6>IT Manager</h6>
                    <span><a  target="_blank" href="https://www.linkedin.com/in/ghassen-fathallah/"><i class="icon-linkedin2 custom-icon1"></i></a></span>
                </div>

                <div class=" col-lg-3 col-md-3" style="text-align: center;">
                    <img class="team-img zoom" src="{{ asset('assets/images/team/hamza.jpg') }}" alt="">
                    <h5 style="margin-top: 15px">Hamza CHEBIL</h5>
                    <hr class="red-line">
                    <h6>IT Manager</h6>
                    <span><a target="_blank" href="https://www.linkedin.com/in/hamza-chebil-22590b145/"><i class="icon-linkedin2 custom-icon1"></i></a></span>
                </div>
                <!--<div class=" col-lg-3 col-md-3" style="text-align: center;">
                    <img class="team-img zoom" src="{{ asset('assets/images/team/ghassen.jpg') }}" alt="">
                    <h5 style="margin-top: 15px">Karim NAFATI</h5>
                    <hr class="red-line">
                    <h6>President Aequo Ltd</h6>
                    <span><a href=""><i class="icon-linkedin2 custom-icon1"></i></a></span>
                </div>-->

            </div>
        </div>
    </section>


    {#level 6#}
    <section class="bg-contact" id="contact">
        <div class="container" >
            <div class="row justify-content-center" style="margin-top: 50px;">
                <div class="titles">
                    <h1>Des questions?</h1>
                    <h4>N'hésitez pas à nous contacter</h4>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.firstName) }}
                    </div>
                </div>
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-8 ">
                    <div class="form-group">
                        {{ form_row(form.fonction) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-8">
                    <div class="form-group">
                        {{ form_row(form.message) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                {{ form_row(form.save) }}
            </div>

            {{ form_errors(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </section>


    {% include'default/footer.html.twig' %}
{% endblock %}
