{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/navbar.html.twig' %}

    <div class="index-image">
        <div class="container">
            <div class="row justify-content-left align-items-end custom-back-row">
                <div class="index-text1">
                    Aequo Ltd
                </div>
            </div>
            <div class="row justify-content-left align-items-start">
                <div class="index-text">
                    "Reach new heights"
                </div>
            </div>
            <div class="row justify-content-left align-items-start">
                <div class="index-text2">

                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="container">
            <div class="title-news ">
                <h2>Aequo Ltd,</h2>
                <h5 style="color: #333">We are what our partners expect from us, a coalition of expertise of technical assistance and human
                    resource support to the benefit of industrial companies, laboratories and quality departments.</h5>
            </div>
        </div>
    </section>

    {#level 2#}
    <section style="background-color: #f7f6f7;">
        <div class="titles">
            <h1>Latest News</h1>
        </div>
        <div class="container">
            <div class="card-deck row justify-content-center">
                <div class="col-lg-4 col-sm-8">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset ('assets/images/bc1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-tag-card-footer">Communiqué de presse</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset ('assets/images/bc1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-tag-card-footer">Laboratoire</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset ('assets/images/bc1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-tag-card-footer">IT</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-deck row justify-content-center" style="margin-top: 30px">
                <div class="col-lg-4 col-sm-8">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset ('assets/images/bc1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-tag-card-footer">Communiqué de presse</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset ('assets/images/bc1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-tag-card-footer">Laboratoire</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset ('assets/images/bc1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-tag-card-footer">IT</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center" style="margin: 50px">
                        <button class="btn btn-see-all">All Articles </button>
                    </div>
                </div>
            </div>



    </section>


    {#level 3#}
    <section>
        <div class="titles">
            <h1>Expertise</h1>
            <h4>insert some texte here if you need</h4>
        </div>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-sm-8 text-center">
                    <img class="img-fluid img-border" src="{{ asset('assets/images/icons/assistance.png') }}" alt="">
                    <h2>Assistance</h2>
                    <hr>
                    <p>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-8 text-center">
                    <img class="img-fluid img-border" src="{{ asset('assets/images/icons/audit.png') }}" alt="">
                    <h2>Audit</h2>
                    <hr>
                    <p>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                    </p>
                </div>
            </div>

                <div class="row justify-content-around">
                    <div class="col-lg-4 col-sm-8 text-center">
                        <img class="img-fluid img-border" src="{{ asset('assets/images/icons/formation.png') }}" alt="">
                        <h2>Formation</h2>
                        <hr>
                        <p>
                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-8 text-center">
                        <img class="img-fluid img-border" src="{{ asset('assets/images/icons/lab.png') }}" alt="">
                        <h2>Laboratoire</h2>
                        <hr>
                        <p>
                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                        </p>
                    </div>
                </div>
        </div>
    </section>


    {#level 4#}
    <section style="background-color: #f7f6f7;">
        <div class=" bg-color">
            <div class="titles">
                <h1>Our Methodology</h1>
                <h4>insert some texte here if you need</h4>
            </div>
            <div class="row justify-content-around">
                <img class="img-fluid" src="{{ asset('assets/images/methodology.png') }}" alt="">
            </div>
        </div>
    </section>


    {#level 5#}
    <section>
            <div class="titles">
                <h1>Our Partners</h1>
            </div>
        <div class="container">
           <div class="row justify-content-around">
               <div class="col-1">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/google.png') }}" alt="">
               </div>
               <div class="col-1">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/yahoo.png') }}" alt="">
               </div>
               <div class="col-1">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/orange.png') }}" alt="">
               </div>
               <div class="col-1">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/topnet.png') }}" alt="">
               </div>
           </div>
        </div>
    </section>

    {#level 6#}
    <section>
        
    </section>

{% endblock %}
