{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/navbar.html.twig' %}

    <div class="index-image">
        <div class="container">
            <div class="row justify-content-left align-items-end custom-back-row">
                <div class="index-text1">
                    Aequo Ltd
                </div>
            </div>
            <div class="row justify-content-left align-items-start">
                <div class="index-text">
                    "Reach new heights"
                </div>
            </div>
            <div class="row justify-content-center">
                    <a href="#section04" class="scroll-down"><i class="fa fa-chevron-circle-down bounce"></i></a>
            </div>
        </div>
        <div id="section04"></div>
    </div>


    <section>
        <div class="container">
            <div class="title-news ">
                <h2>Aequo Ltd,</h2>
                <h5 style="color: #333">We are what our partners expect from us, a coalition of expertise of technical assistance and human
                    resource support to the benefit of industrial companies, laboratories and quality departments.</h5>
            </div>
        </div>
    </section>

    {#level 2#}
    <section style="background-color: #f7f6f7;">
        <div class="titles" >
            <h1>Latest News</h1>
        </div>
        <div class="container">
            <div class="card-deck row justify-content-center mt-30">
                {% for b in blogs %}
                <div class="col-lg-4 col-sm-8 mt-5">
                    <div class="card">
                        <a href="{{ path('newspage_details', {'id': b.id}) }}" style="overflow: hidden"><img class="card-img-top zoom" src="{{ vich_uploader_asset(b,'imageFile') }}" alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="{{ path('newspage_details', {'id': b.id}) }}" class="text-card-style">
                                <h5 class="card-title">
                                    {% if app.request.locale == 'en' %}
                                        {{ b.titleEn }}
                                    {% else %}
                                        {{ b.titleFr }}
                                    {% endif %}
                                </h5></a>
                            <p class="card-text">
                                {% if app.request.locale == 'en' %}
                                    {{ b.descriptionEn }}
                                {% else %}
                                    {{ b.descriptionFr }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-tag-card-footer">
                                {% if app.request.locale == 'en' %}
                                    {{ b.tagEn }}
                                {% else %}
                                    {{ b.tagFr }}
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center" style="margin: 50px">
                        <a href="{{ path('newspage') }}" class="btn btn-see-all">All Articles </a>
                    </div>
                </div>
            </div>
    </section>


    {#level 3#}
    <section>
        <div class="titles">
            <h1>Expertise</h1>
            <h4>insert some texte here if you need</h4>
        </div>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-sm-8 text-center">
                    <a href="{{ path('assistancepage') }}"><img class="img-fluid img-border" src="{{ asset('assets/images/icons/assistance.png') }}" alt=""></a>
                    <a href="{{ path('assistancepage') }}" class="link-style"><h2>Assistance</h2></a>
                    <hr class="hr-style">
                    <p>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-8 text-center">
                    <a href="{{ path('auditpage') }}" class="link-style"><img class="img-fluid img-border" src="{{ asset('assets/images/icons/audit.png') }}" alt=""></a>
                    <a href="{{ path('auditpage') }}" class="link-style"><h2>Audit</h2></a>
                    <hr class="hr-style">
                    <p>
                        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                    </p>
                </div>
            </div>

                <div class="row justify-content-around">
                    <div class="col-lg-4 col-sm-8 text-center">
                        <a href="{{ path('trainingpage') }}" class="link-style"><img class="img-fluid img-border" src="{{ asset('assets/images/icons/formation.png') }}" alt=""></a>
                            <a href="{{ path('trainingpage') }}" class="link-style"><h2>Formation</h2></a>
                        <hr class="hr-style">
                        <p>
                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-8 text-center">
                        <a href="{{ path('laboratorypage') }}" class="link-style"><img class="img-fluid img-border" src="{{ asset('assets/images/icons/lab.png') }}" alt=""></a>
                        <a href="{{ path('laboratorypage') }}" class="link-style"><h2>Laboratoire</h2></a>
                        <hr class="hr-style">
                        <p>
                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                        </p>
                    </div>
                </div>
        </div>
    </section>


    {#level 4#}
    <section style="background-color: #f7f6f7;" id="methodology">
        <div class=" bg-color">
            <div class="titles">
                <h1>Our Methodology</h1>
                <h4>insert some texte here if you need</h4>
            </div>
            <div class="row justify-content-around">
                <img class="img-fluid metho-img" src="{{ asset('assets/images/methodology.png') }}" alt="">
            </div>
        </div>
    </section>


    {#level 5#}
    <section>
            <div class="titles">
                <h1>Our Partners</h1>
            </div>
        <div class="container" style="margin-top: 30px">
           <div class="row justify-content-around">
               <div class="col-lg-1 col-sm-2">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/google.png') }}" alt="">
               </div>
               <div class="col-lg-1 col-sm-2">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/yahoo.png') }}" alt="">
               </div>
               <div class="col-lg-1 col-sm-2">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/orange.png') }}" alt="">
               </div>
               <div class="col-lg-1 col-sm-2">
                   <img class="img-fluid" src="{{ asset ('assets/images/partners/topnet.png') }}" alt="">
               </div>
           </div>
        </div>
    </section>

    {#level 6#}
    <section class="bg-contact" id="contact">
        <div class="container" >
            <div class="row justify-content-center" style="margin-top: 50px;">
                <div class="titles">
                    <h1>Any Question?</h1>
                    <h4>Don't hesitate to contact us</h4>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.firstName) }}
                    </div>
                </div>
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-8 ">
                    <div class="form-group">
                        {{ form_row(form.fonction) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                <div class="col-lg-4 col-sm-8">
                    <div class="form-group">
                        {{ form_row(form.message) }}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20px;">
                        {{ form_row(form.save) }}
            </div>

            {{ form_errors(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </section>

{% include'default/footer.html.twig' %}
{% endblock %}
