<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img class="img-fuild"style="width: 130px; height: 50px;" src="{{ asset('assets/images/logov2.jpg') }}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">{{ 'translate.home'|trans }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('newspage') }}">{{ 'translate.news'|trans }}</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'translate.expertise'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('homepage') }}#expertise">{{ 'translate.laboratoire'|trans }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('homepage') }}#expertise">{{ 'translate.assetfor'|trans }}</a>
                    <!--
                    <a class="dropdown-item" href="{{ path('auditpage') }}">Audit</a>
                    <a class="dropdown-item" href="{{ path('trainingpage') }}">Training</a>
                    -->
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('aboutuspage') }}">{{ 'translate.aboutus'|trans }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}#methodology">{{ 'translate.methodology'|trans }}</a>
            </li>
            <li class="nav-item active">
                <a id="nav-contact" class="nav-item-button nav-link"  href="{{ path('homepage') }}#contact">{{ 'translate.contact'|trans }}</a>
            </li>
        </ul>

        <div class="text-right">
            <span class="custom-icons">
                <span><a target="_BLANK" href="https://www.facebook.com/knafati"><i class="icon-facebook custom-icon"></i></a></span>
                <span><a target="_BLANK" href="https://www.linkedin.com/in/mona-makhlouf"><i class="icon-linkedin2 custom-icon"></i></a></span>
                <span><a href="#"><i class="icon-twitter custom-icon"></i></a></span>
            </span>
            <span>
                <span><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('admin_assets/images/flags/us.png') }}" alt=""></a></span>
                <span><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('admin_assets/images/flags/fr.png') }}" alt=""></a></span>
            </span>
        </div>
    </div>
</nav>