{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/navbar.html.twig' %}

    <section style="background-color: #f7f6f7; padding-bottom: 30px">
        <div class="titles mt-5" >
            <h1>À la une</h1>
        </div>
        <div class="container">
            <div class="card-deck row justify-content-center">
                {% for b in blog %}
                    <div class="col-lg-4 col-sm-8 mt-5">
                        <div class="card">
                            <a href="{{ path('newspage_details', {'id': b.id}) }}" style="overflow: hidden">
                                <img class="card-img-top zoom" src="{{ vich_uploader_asset(b,'imageFile') }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <a href="{{ path('newspage_details', {'id': b.id}) }}" class="text-card-style">
                                    <h5 class="card-title">
                                        {% if app.request.locale == 'en' %}
                                            {{ b.titleEn }}
                                        {% else %}
                                            {{ b.titleFr }}
                                        {% endif %}
                                    </h5></a>
                                <p class="card-text">
                                    {% if app.request.locale == 'en' %}
                                        {{ b.descriptionEn }}
                                    {% else %}
                                        {{ b.descriptionFr }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-tag-card-footer">
                                    {% if app.request.locale == 'en' %}
                                        {{ b.tagEn }}
                                    {% else %}
                                        {{ b.tagFr }}
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include'default/footer.html.twig' %}
{% endblock %}
