{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - List Products {% endblock %}

{% block body %}

    {{ parent() }}

    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Page header -->
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Produits</span> - List</h4>
                </div>
            </div>

            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index_admin_page') }}"><i class="icon-home2 position-left"></i> Home</a></li>
                    <li class="active">Produits</li>
                </ul>
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">

            <!-- Table -->
            <div class="panel panel-flat">
                <div class="row" style="margin: 20px">
                    <a href="{{ path('add_blog_page') }}" class="btn btn-success"><i class="icon-plus3 position-left"></i>Ajouter Blog Post</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for b in blog_list %}
                            <tr>
                                <td>{{ b.titleEn }}</td>
                                <td style="max-width: 200px !important;word-wrap: break-word;">{{ b.descriptionEn }}</td>
                                <td>{{ b.postDate | date('d/m/Y') }}</td>
                                <td><img src="{{ vich_uploader_asset(b,'imageFile') }}" alt="" style="width: 150px;height: 150px;"></td>
                                <td>
                                    <ul class="icons-list mt-15">
                                        <li><a href="{{ path('toggle_blog_page', {'id': b.id}) }}" data-popup="tooltip" title="Toggle Blog"><i class="icon-cross"></i></a></li>
                                        <li><a href="{{ path('view_blog_page', {'id': b.id}) }}" data-popup="tooltip" title="View Blog"><i class="icon-eye"></i></a></li>
                                        <li><a href="{{ path('edit_blog_page', {'id': b.id}) }}" data-popup="tooltip" title="Edit Blog"><i class="icon-pencil5"></i></a></li>
                                        <li><a href="{{ path('delete_blog_page', {'id': b.id}) }}" data-popup="tooltip" title="Delete Blog" onclick="return confirm('Are you sure you want to Delete this Product?')"><i class="icon-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /table -->

            {{ include('admin/footer.html.twig') }}

        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->

    </div>
    <!-- /page content -->

    </div>
    <!-- /page container -->

{% endblock %}